{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="centered">
    <div class="top">
        <div class="summary">
            <h1>Hello,</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quae laudantium sit voluptatem
                molestias, omnis, mollitia maxime nulla tempore perspiciatis minima illum nemo autem necessitatibus
                consequuntur animi eos aut voluptatum rem voluptas quia consequatur. Dolorem, quo. A excepturi repellat
                magni quas perferendis rerum accusantium illum odio? Tempora praesentium fuga, tenetur dolores
                distinctio repellendus. Quos eveniet veniam laborum non at, sint nisi est accusantium, commodi suscipit
                reprehenderit ipsam labore mollitia sed illum voluptatum libero quasi blanditiis reiciendis. Amet
                obcaecati deleniti nobis!</p>
        </div>

        <div class="artist-profile">
            <img src="{% static 'img/profile_pic.jpg' %}" alt="profile_pic">
            <a href="{% url 'commissions' %}">
                <div class="overlay"> See Gallery... </div>
            </a>
        </div>

        <div class="event">
            <div class="event-label">
                <p>
                    Upcoming Event
                </p>
                <img src="{% static 'img/sample_event_icon.svg' %}" alt="event_img">
            </div>
            <div class="event-banner">
                <img src="{% static 'img/banner.jpg' %}" alt="event_banner_img">
            </div>
        </div>

    </div>
</div>


<div id="counter" class="page-break">
</div>


<div class="slideshow">
    <div class="slide-label">Featured Works</div>

    {% for asset in featured %}
    <div class="slide">
        {% if not asset.preview %}
        <img src="{{asset.image.url}}" alt="slide_img">
        {% else %}
        <img src="{{asset.preview.url}}" alt="slide_img">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock script %}